---
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// ------------------------------------------------------------------------------
//                                    Colors
// ------------------------------------------------------------------------------

$thetatau-gold: #d79c00;    // Theta Tau Gold
$thetatau-offwhite: #edeab5;    // Theta Tau Off-White
$thetatau-darkred: #660000;      // Theta Tau Dark Red
$bg2: #303030;

$gradient1: #F72585;
$gradient2: #B5179E;
$gradient3: #7209B7;
$gradient4: #560BAD;
$gradient5: #480CA8;
$gradient6: #3A0CA3;
$gradient7: #3F37C9;
$gradient8: #4361EE;
$gradient9: #3894FF;
$gradient10: #4895EF;
$gradient11: #4CC9F0;

$twitch: #ff9df2;
$discord: #a79dff;

// ------------------------------------------------------------------------------
//                                   Fonts
// ------------------------------------------------------------------------------

@font-face {
    font-family: 'Arcon';
    src: url('../fonts/Arcon-Regular.otf');
}

@font-face {
    font-family: 'LiberationMono';
    src: url('../fonts/LiberationMono-Regular.ttf');
}

@font-face {
    font-family: 'LiberationSerif';
    src: url('../fonts/LiberationSerif-Regular.ttf');
}


// ------------------------------------------------------------------------------
//                                    General
// ------------------------------------------------------------------------------

// Hide scrollbar
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, p, a {
    margin: 0;
    color: $thetatau-offwhite;
    font-family: 'Arcon';
}

h1 {

    font-family: 'LiberationMono' !important;
    font-size: 70px !important;
}

h2 {
    font-size: 50px !important;
}

h2, h3 {
    font-family: 'LiberationSerif' !important;
}

p {
    font-size: 24px;
}

body {
    /*font-family: 'Arial' !important;*/
    margin: 0 !important;
}

section {
    padding: 10vh 20vw 10vh 20vw;
}

.btn {
    background-color: $thetatau-offwhite;
    color: $thetatau-darkred;
    border-radius: 2vw;
    padding: 5vw;
  }

.btn:hover {
    color: $gradient1;
}

.primary-color {
    color: $thetatau-offwhite;
}

li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }

    section {
        padding: 5vh;
    }
}

// ------------------------------------------------------------------------------
//                                   Main.html
// ------------------------------------------------------------------------------

#particles-js {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#main {
    width: 100%;
    height: 700px;
    position: relative;
    padding-bottom: 2em;
    padding-top: 1em;

    // Navbar
    .navbar {
        z-index: 10;
        position: fixed;
        background-color: white;
        color: rgb(145, 145, 145);
        width: 100%;
        height: 4em;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -1em;
        border-bottom: 0.1rem solid rgb(145, 145, 145);
        overflow: visible;
    }

    .recruitment-button {
        z-index: 2;
    }

    .main-content {
        padding-left: 5em;
        margin-top: 10%;
    }

    // Image placement
    .main-img {
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        filter: opacity(50%);
    }

    .thetatau-img {
        display: block;
        margin-top: 10vh;
        z-index: 1;
        filter: opacity(100%);
    }

    .hill1 {
        top: 30vh;
    }

    .hill2 {
        top: 50vh;
    }

    .hill3 {
        top: 70vh;
    }
    
    h1 {
        padding-bottom: 0;
        margin-left: -5px;
    }

    p, li {
        color: $bg2;
    }

    @media only screen and (max-width: 768px) {
        .thetatau-img {
            display: block;
            text-align: center;

            z-index: 1;
            filter: opacity(100%);
        }
        .main-img {
            height: 100vh;
            width: auto;
        }
        p{
            font-size: 2em;
        }
    }

    button {
        border-radius: 1rem;
        border: 0;
        padding: 0.5rem 1rem;
        background-color: #660000;
        color: $thetatau-gold;
    }

    iframe {
        margin-bottom: 10vh;
    }
}

.main-content {
    position: absolute;
    top: 8vh;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#navbar {
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
    
    #nav-logo {
        margin-right: auto;
        padding: 14px 16px;
        display: absolute;
        
    }

    #hamburger {
    display: none;
    @media only screen and (max-width: 768px){
        list-style-type: none;
        list-style: none;
        display: inline-block;
        padding: 14px 16px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
    #nav-items{

        .nav-item {
            list-style-type: none;
            list-style: none;
            display: inline-block;
            padding: 14px 16px;
            padding-top: 0;
            padding-bottom: 0;
            @media only screen and (max-width: 768px){
                display: block;
                background-color: #ecececff;
                width: 100%;
                padding-top: 0.1em;
                padding-bottom: 0.1em;
                font-size: 10em;
            }
        }
        .nav-item a {
            float: none;
            display: block;
            text-align: left;
            
        }
        @media only screen and (max-width: 768px){
            width: 100%;
            display: none;
            float: none;
            background-color: #ecececff;
            margin-top: 26.5em;
            margin-right: -30%;
        }
    }
      
    li a {
      font-size: 1.2rem;
      display: block;
      color: #111;
      text-align: center;
      text-decoration: none;
    }
      
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #cfcfcf;
    }

    /*@media only screen and (max-width: 768px) {
        display: none;
    }*/
}

// ------------------------------------------------------------------------------
//                                  Header.html
// ------------------------------------------------------------------------------

#header {
    background: $thetatau-gold;
    height: 10vh;
    position: relative;
    z-index: 2;
    
    img {
        width: 3rem;
        padding: 0 0.5rem;
    }

    img:hover {
        filter: brightness(70%);
        transition: 0.2s
    }

    a {
        color: $thetatau-darkred;
        font-size: 2rem;
    }

    a:hover {
        filter: brightness(70%);
        transition: 0.2s;
    }

    .header-content {
        background: $thetatau-gold;
        position: absolute;
        width: 100%;
        height: auto;
        top: 30%;
    }

    @media only screen and (max-width: 768px) {
        .header-content {
            padding-bottom: 3vh;
        }
    }
}

// ------------------------------------------------------------------------------
//                                 Slideshow.html
// ------------------------------------------------------------------------------

#slideshow {

    background: $thetatau-darkred;

    .slideshow-container {
      max-width: 750px;
      max-height: 400px;
      position: relative;
      margin: auto;
    }
  
    .slides {
      display: none;
    }
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 70%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 36px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    .prev {
      left: 0;
      border-radius: 0 6px 6px 0;
    }
  
    .next {
      right: 0;
      border-radius: 6px 0 0 6px;
    }
  
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      opacity: 1;
    }
  
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  
    @keyframes fade {
        0% {top: 100%}
        4% {top: 0%}
        33.33% {top: 0%}
        37.33% {top: -100%}
        100% {top: -100%}
    }
  }

// ------------------------------------------------------------------------------
//                                  AboutUs.html
// ------------------------------------------------------------------------------

#about-us {
    background-image: url("../img/aboutus-bg.png");
    background-color: #5C0107;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    margin-bottom: 5;
    padding-top: 0;
    padding-bottom: 2vh;
    z-index: 2;
    padding-left: 2vw;
    h1 {
        padding-top: 1em;
    }

    .column {
        float: left;
        width: 33.33%;
        @media only screen and (max-width: 768px){
            width: 100%;
            margin-left: -2vw;
            padding-bottom: 2em;
        }
    }
    .row{
        margin-left: -2vw;
        width: 100vw;
        padding-bottom: 3em;
    }
    .value-desc {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        @media only screen and (max-width: 768px){
            font-size: 24px;
        }
    }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    // img {
    //     position: absolute;
    //     width: 100vw;
    //     z-index: 1;
    // }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                  Recruitment.html
// ------------------------------------------------------------------------------

#recruitment {
    background-image: url("../img/photos/5bg.png");

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 0;
    margin-bottom: 5;
    padding-top: 0;
    padding-bottom: 2vh;
    z-index: 2;
    padding-left: 0em;
    @media only screen and (max-width: 768px){
        background-size: 100vw auto;
    }

    h1 {
        padding-top: 1em;
    }
    .primary-color {
        padding-left: 2vw;
    }

    #rush-div {
        padding-left: 2vw;
        width: 25vw;
        @media only screen and (max-width: 768px){
            width: 100vw;
            height: 10%;
        }
    }

    #rush-form {
        /*display: flex;*/
        /*text-align: center;
        /*width: 640px;*/
        width: 100%;
        height: 1382px;
        padding-left: 0;
        
    }

    // img {
    //     position: absolute;
    //     width: 100vw;
    //     z-index: 1;
    // }
}


// ------------------------------------------------------------------------------
//                                 Calendar.html
// ------------------------------------------------------------------------------

#calendar {
    background-color: white;
    color: #660000;
    position: relative;
    z-index: 2;
    padding-left: 2vw;
    padding-top: 0;

    h1{
        padding-top: 1em;
    }

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    iframe{
        filter: invert(.9) saturate(0.7) hue-rotate(120deg);
    }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                 Resources.html
// ------------------------------------------------------------------------------

#resources {
    background-image: url("../img/photos/12bg.png");
    background-position: 50% 45%; 
    position: relative;
    z-index: 2;
    padding-left: 2vw;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    a {
        font-size: 1.2rem;
    }
}

.aboutus-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

// ------------------------------------------------------------------------------
//                                  Footer.html
// ------------------------------------------------------------------------------

#footer {
    background: $thetatau-gold;
    height: 8vh;
    position: relative;
    z-index: 2;
    
    img {
        width: 3rem;
        padding: 0 0.5rem;
    }

    img:hover {
        filter: brightness(70%);
        transition: 0.2s
    }

    a {
        color: $thetatau-darkred;
        font-size: 2rem;
    }

    a:hover {
        filter: brightness(70%);
        transition: 0.2s;
    }

    .footer-content {
        background: $thetatau-gold;
        position: absolute;
        width: 100%;
        height: auto;
        top: 30%;
    }

    @media only screen and (max-width: 768px) {
        .footer-content {
            padding-bottom: 3vh;
        }
    }
}

// ------------------------------------------------------------------------------
//                                    Imports
// ------------------------------------------------------------------------------