<section id="about-us">
    <a id="about-us-anchor"></a>

    <div class="container-fluid">
        <h1 class="primary-color">About Us</h1>
        <h2 class="primary-color">"Whatsoever thy hand findeth to do, do it with thy might" - Ecclesiastes 9:10</h2>
        <p>
            We are the Tau Beta Chapter of Theta Tau, a professional national engineering fraternity for university students founded on on October 15, 1904 at the University of Minnesota in Minneapolis, Minnesota. We take pride in uniting all our members in pursuit of three primary goals:
        </p> 
    </div>


    <div class="text-center container-fluid">
        <div class="row">
            <div class="column">
                <h2 class="primary-color">Professional Development</h2>
                <img class="thetatau-img" src="img/photos/8.jpg" height="300px">
                <p class="value-desc">The Tau Beta chapter of Theta Tau provides many opportunities for both networking and building
                    skills that make for a great engineer, such as meals with professors, resumanias, and networking with alumni.
                    We have worked with companies in the past such as TDIndustries, Southwest, and Lockheed Martin and alumni are working
                    in companies such as 
                </p>
            </div>
            <div class="column">
                <h2 class="primary-color">Community Service</h2>
                <img class="thetatau-img" src="img/photos/4.jpg" height="300px">
                <p class="value-desc">Theta Tau also gives back to the community, working with organizations such as Paper for Water and For the Love of the Lake
                    and setting up community service events such as helping clean up White Rock Lake.
                    Members complete 8 hours of community service each semester.
                </p>
            </div>
            <div class="column">
                <h2 class="primary-color">Brotherhood</h2>
                <img class="thetatau-img" src="img/photos/17.jpg" height="300px">
                <p class="value-desc">Of course, what would a fraternity be without brotherhood? Members participate in events such as movie nights,
                    arcades, and going to on-campus and members' other organizations' events in groups! 
                </p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <h2 class="primary-color">Our Purpose</h2>
        <p>
            The purpose of Theta Tau is to develop and maintain a high standard of professional interest among its members and to unite them in a strong bond of fraternal fellowship.
        </p> 
    </div>
    

</section>