<section id="about-us">
    <a id="about-us-anchor"></a>

    <div class="container-fluid">
        <h1 class="primary-color">About Us</h1>
        <h2 class="primary-color">"Whatsoever thy hand findeth to do, do it with thy might" - Ecclesiastes 9:10</h2>
        <p>
            We are the Tau Beta Chapter of Theta Tau, a professional national engineering fraternity for university students founded on on October 15, 1904 at the University of Minnesota in Minneapolis, Minnesota. We take pride in uniting all our members in pursuit of three primary goals:
        </p> 
    </div>


    <div class="text-center container-fluid">
        <div class="row">
            <div class="column">
                <h2 class="primary-color">Professional Development</h2>
                <img class="thetatau-img" src="img/photos/8.jpg" height="300px">
                <p>Maybe put a description here</p>
            </div>
            <div class="column">
                <h2 class="primary-color">Community Service</h2>
                <img class="thetatau-img" src="img/photos/4.jpg" height="300px">
                <p>Maybe put a description here</p>
            </div>
            <div class="column">
                <h2 class="primary-color">Brotherhood</h2>
                <img class="thetatau-img" src="img/photos/17.jpg" height="300px">
                <p>Maybe put a description here</p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <h2 class="primary-color">Our Purpose</h2>
        <p>
            The purpose of Theta Tau is to develop and maintain a high standard of professional interest among its members and to unite them in a strong bond of fraternal fellowship.
        </p> 
    </div>
    

</section>