<section id="calendar">
    <a id="calendar-anchor"></a>
    <div class="container-fluid">
        <h1>Calendar</h1>
        <p style="color:#660000;">Keep an eye out on this calendar to stay up to date on all of our Events!</p>
        <!-- Looking into how I can pass the time.ly calendar around.-->
        <iframe src="https://calendar.google.com/calendar/embed?src=smuthetatau%40gmail.com&ctz=America%2FChicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</section>