<header id="main">

    <img class="main-img" src="img/gunther-caruth.png">
    
    <header id="header">
        <div class="text-center container-fluid header-content">
            <nav class="navbar navbar-expand-lg container-fluid">
                <ul id="navbar">
                    <li class="nav-item"><img src="img/thetatau.png"></li>
                    <li class="nav-item"><a href="#about-us-anchor">About Us</a></li>
                    <li class="nav-item"><a href="#calendar-anchor">Calendar</a></li>
                    <li class="nav-item"><a href="#resources-anchor">Resources</a></li>
                    <!-- <li class="nav-item"><a href="pages/contact.html">Contact Us</a></li> -->
                 <!--   <li class="nav-item"><a href="mailto:{{site.email}}">Contact Us</a></li> -->
                </ul>
            </nav>
            <!-- <a class="smallbutton1" href="mailto:{{site.email}}"><i class="fa fa-fw fa-envelope"></i></a>
            <a class="smallbutton1" href="{{site.discord_url}}"><img src="./img/discord-brands.png"></a>
            <a class="smallbutton1" href="{{site.twitter_url}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            <a class="smallbutton1" href="{{site.instagram_url}}" target="_blank"><i class="fa fa-fw fa-instagram"></i></a> -->
        </div>
    </header>
    

    <div class="container-fluid text-center main-content title-header">
        <div style="
            background: #ffffff9c;
            width: fit-content;
            padding: 10px;
        ">
            <h1>Theta Tau Tau Beta</h1>
            <p>The premier Professional Engineering Fraternity at SMU.</p>
        </div>
        <!-- Hoping to get a public mailing list set up. -->
        <!--<a href="#" class="btn btn-lg disabled" id="registrationBtn">Join Our Mailing List!</a>-->
        <!-- <a href="mailto:{{site.email}}" class="btn btn-lg" id="registrationBtn">Join Rush!</a> -->

        <!-- <img class="thetatau-img" src="img/thetatau.png"> -->
    </div>

</header>
