<script>
    function hamMenu() {
        console.log("hallo");
        var x = document.getElementById("nav-items");
        var mediaQuery = window.matchMedia('(max-width: 768px)');
        if (mediaQuery.matches) {
            console.log("hallo2");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    } 
</script>

<header id="main">

    <img class="main-img" src="img/dallashall.jpg">

    <nav class="navbar navbar-expand-lg container-fluid">

        <ul id="navbar">
            <li class="nav-logo"><a href="/">ΘΤ | ΤΒ</a></li>
            <li id="hamburger"><a href="javascript:void(0);" onclick="hamMenu()">
                    <img src="../img/hamburger.png" width="40"/>
                </a></li>
                <br/>
            <div id="nav-items">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#about-us-anchor">About Us</a></li>
                <li class="nav-item"><a href="#recruitment-anchor">Recruitment</a></li>
                <li class="nav-item"><a href="#calendar-anchor">Calendar</a></li>
                <li class="nav-item"><a href="#resources-anchor">Resources</a></li>
                <li class="nav-item"><a href="mailto:{{site.email}}">Contact Us</a></li>
            </div>
        </ul>
    </nav>

    <div class="container-fluid main-content">
        <h1>Theta Tau:<br />Tau Beta Chapter</h1>
        <p>The premier Professional Engineering<br />Fraternity at SMU.</p>
        <a href="#recruitment-anchor"><button class="recruitment-button">RECRUITMENT FORM</button></a>
        <br />

        <!-- Hoping to get a public mailing list set up. -->
        <!--<a href="#" class="btn btn-lg disabled" id="registrationBtn">Join Our Mailing List!</a>-->
        <!-- <a href="mailto:{{site.email}}" class="btn btn-lg" id="registrationBtn">Join Rush!</a> -->
        <!-- <img class="thetatau-img" src="img/thetatau.png"> -->
    </div>

</header>