<div class="member-card">
  <div class="member-photo">
    <img
      src="{{ '/pages/images/' | append: member.number | append: '.webp' | relative_url }}"
      alt="{{ member.name }}"
    >
  </div>

  <h3 class="member-name">{{ member.name }}</h3>

  {% if member.nickname %}
    <p class="member-nickname">{{ member.nickname }}</p>
  {% endif %}

  <p class="member-class">MC {{ member.class }}</p>
  <p class="member-class"><i>{{ member.major }}</i></p>

  <div class="member-pills">
    <span class="pill number-pill">#{{ member.number }}</span>

    {% for b in member.badges %}
      <span class="pill badge-pill">{{ b }}</span>
    {% endfor %}
  </div>
</div>
