<section id="resources">
    <a id="resources-anchor"></a>

    <div class="text-center container-fluid">
        <h1 class="primary-color">Resources</h1>
        <p class="primary-color">Interested in joining Theta Tau at SMU? Join the community right now! We invite anyone and everyone who is interested in Theta Tau to fill out the interest form and contact our rush chairs. Check out the links below for more information!</p>
        
        <div>
            <a href="https://forms.gle/3qoMWXSfYjrTfQbM7" class="button btn btn-lg">Rush Forum</a>
            <a href="https://linktr.ee/TauBeta" class="button btn btn-lg">LinkTree</a>
            <a href="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=1&title=Theta%20Tau%20General%20Calendar&showPrint=0&showCalendars=0&src=c211dGhldGF0YXVAZ21haWwuY29t&color=%23F6BF26" class="button btn btn-lg">Events Calendar</a>
            <a href="https://thetatau.org/" class="button btn btn-lg">National Website</a>
            <a href="pages/protected.html" class="button btn btn-lg">Member Resources</a>
            <!-- <button>Mailing List<button> -->
        </div>

        <!-- <ul class="resources-list">
            <li class="primary-color"><a href="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=1&title=Theta%20Tau%20General%20Calendar&showPrint=0&showCalendars=0&src=c211dGhldGF0YXVAZ21haWwuY29t&color=%23F6BF26">Events Calendar</a></li>
            <li class="primary-color"><a href="#">Mailing List <strong>(Coming Soon)</strong></a></li>
            <li class="primary-color"><a href="https://thetatau.org/">National Website</a></li>
        </ul> -->
    </div>
</section>